{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<style>
.navbar-custom {
    background-color: rgb(0, 0, 0);
}
</style>
<div class="container">
  <ul class="nav navbar-custom">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/dashboard">DASHBOARD</a>
    </li>

    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link link-light" href="/logout">LOGOUT</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link link-light" href="/login">LOGIN</a>
    </li>
    {% endif %}

    <li class="nav-item">
      <a class="nav-link link-light" href="/register">REGISTER</a>
    </li>
  </ul>
</div>
{% block content %}
{% endblock content %}
