<!DOCTYPE html>
{% include 'navbar.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<br>
<h1 style="text-align:center">Student Update</h1>
<br>
<div style="background-color:powderblue; text-align: center; border:2px solid black; padding:20px ;max-width:500px ;margin:auto">
    <form method="POST" action="">
        {% csrf_token %}
        <label style="font-size: 30px">Name</label><br><br>
        <input style="width: 300px; text-align: center" type="text" value="{{ data.s_name }}" name="name"><br><br>
        <label style="font-size: 30px">E-mail</label><br><br>
        <input style="width: 300px; text-align: center" type="text" value="{{ data.s_email }}" name="email"><br><br>
        <label style="font-size: 30px">Phone</label><br><br>
        <input style="width: 300px; text-align: center" type="text" value="{{ data.s_phone }}" name="phone"><br><br>
        <input type="submit" value="Update">
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </ul>
        {% endif %}
    </form>
</div>
</body>
{% endblock content %}
</html>
